<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    li {display:inline-block;margin-left:10px;border:1px solid black;border-radius:5px;padding:1px 20px;}
    li a{text-decoration:none;font-weight:bold;color:black;}
    li:hover{background:#ccc;}
    </style>
  </head>

  <body>
    <ul>
      <li><%=link_to 'Home', root_path %></li>
      <li><%=link_to 'Tovar', tovar_index_path %></li>
    </ul>
    <p>Хороший портал</p>
    <%= yield %>
  </body>
</html>
